<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <input type="radio" value="animal" id="animal" v-model="loveType">
        <label for="animal">Animal</label>
        <input type="radio" value="flower" id="flower" v-model="loveType">
        <label for="flower">Flower</label> <br>

        <template v-if="isLoveTypeAnimal">
            <div>
                <input type="checkbox" value="dog" id="dog" v-model="loveList">
                <label for="dog">Dog</label>
                <input type="checkbox" value="cat" id="cat" v-model="loveList">
                <label for="cat">Cat</label>
                <input type="checkbox" value="fish" id="fish" v-model="loveList">
                <label for="fish">Fish</label> 
            </div>
        </template>

        <template v-else-if="isLoveTypeFlower">
            <div>
                <input type="checkbox" value="rose" id="rose" v-model="loveList">
                <label for="rose">Rose</label>
                <input type="checkbox" value="lotus" id="lotus" v-model="loveList">
                <label for="lotus">Lotus</label>
                <input type="checkbox" value="mali" id="mali" v-model="loveList">
                <label for="mali">Mali</label>
            </div>
        </template>
        
        <template v-else>
            <div>
                Please select one!!
            </div>
        </template>
      
        <span>Love Type: {{ loveType }}</span> <br>
        <span>Love List: <span v-if="loveList.length==0">Nothing</span> </span>
        <ul>
            <li v-for ="love in loveList">
                {{love}}
            </li>
        </ul>
        <span>Love List Length: {{ getLoveListLength }}</span>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                loveType: '',
                loveList: []
            },
            computed: {
                getLoveListLength: function(){
                    return this.loveList.length;
                },
                isLoveTypeAnimal:function(){
                    return this.loveType=='animal';
                },
                isLoveTypeFlower:function(){
                    return this.loveType=='flower';
                }
            },
            watch: {
                loveType: function(newValue, oldValue){
                    this.loveList = [];
                }
            },
        })
    </script>
</body>

</html>